
{# templates/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .centered-text {
            text-align: center;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="centered-text">
        <h1>500 Internal Server Error</h1>
        <p>Ok, we may or may not have messed up something :D</p>
        <a href="https://127.0.0.1:8000/annonce/" class="btn btn-primary">Return to Index</a>
    </div>
{% endblock %}
