{% extends 'base.html.twig' %}

{% block title %}Comment Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Comment Index</h1>

        {% for comment in pagination %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('app_comment_show', {'id': comment.id}) }}" class="btn btn-sm btn-info">Show</a>
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>
{% endblock %}
