{% extends 'base.html.twig' %}

{% block title %}Comment Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Comment Index</h1>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Content</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.content }}</td>
                    <!-- Add more columns as needed -->
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
