{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    {# templates/annonce/search.html.twig #}
    <a href="{{ path('app_annonce_index') }}">back to list</a>
    {{ form_start(form) }}
    {{ form_row(form.keyword) }}
    <button type="submit">Search</button>
    {{ form_end(form) }}

{% endblock %}