<h>Liste des annonces</h>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Images</td>
        <td>Date</td>
    </tr>
    {% for v in listeAnnonce %}
    <tr>
        <td>{{ v.name }}</td>
        <td>{{ v.images }}</td>
        <td>{{ v.date | date }}</td>

    </tr>
    {% endfor %}
</table>